<nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span>
                            <img alt="image" class="img-circle" src="../Images/profile_small.jpg" />
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">David Williams</strong>
                                </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="@Url.Action("Profile", "Invoice")">Profile</a></li>
                            <li><a href="@Url.Action("Contacts", "Invoice")">Contacts</a></li>
                            <li><a href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Login", "Product")">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li class="@Html.IsSelected(controller: "Dashboards")">
                    <a href="@Url.Action("Dashboard_1", "Dashboards")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Dashboard</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Dashboards", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "Dashboard_1")"><a href="/">Dashboard v.1</a></li>
                        <li class="@Html.IsSelected(action: "Dashboard_2")"><a href="/Dashboard_2">Dashboard v.2</a></li>
                        <li class="@Html.IsSelected(action: "Dashboard_3")"><a href="/Dashboard_3">Dashboard v.3</a></li>
                        <li class="@Html.IsSelected(action: "Dashboard_4_1")"><a href="/Dashboard_4">Dashboard v.4</a></li>
                        <li class="@Html.IsSelected(action: "Dashboard_5")"><a href="/Dashboard_5">Dashboard v.5</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "Sale")">
                    <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label" data-i18n="nav.Sale">Sale</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Sale", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "Flot")"><a href="/Sales/">Desk Bán Hàng</a></li>
                        <li class="@Html.IsSelected(action: "Morris")"><a href="/Sales/Sale_List">Danh sách Đơn hàng</a></li>
                        <li class="@Html.IsSelected(action: "Rickshaw")"><a href="/Sales/Sale_Return">Trả Hàng</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "Purchase")">
                    <a href="#"><i class="fa fa-truck"></i> <span class="nav-label" data-i18n="nav.Purchase">Purchase</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Purchase", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "BasicFroms")"><a href="/Purchase/Order">Desk Nhập hàng</a></li>
                        <li class="@Html.IsSelected(action: "Advanced")"><a href="/Purchase/Return">Trả Hàng</a></li>
                        <li class="@Html.IsSelected(action: "Wizard")"><a href="/Purchase/Inventory)">Kiểm Hàng</a></li>
                        <li class="@Html.IsSelected(action: "FileUpload")"><a href="/Purchase/Vendor">Nhà Cung Cấp</a></li>
                        <li class="@Html.IsSelected(action: "TextEditor")"><a href="/Purchase/Vendor_Group">Nhóm Nhà Cung Cấp</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "Invoice")">
                    <a href="#"><i class="fa fa-file-text"></i> <span class="nav-label" data-i18n="nav.Invoice">Invoices</span> </span><span class="fa arrow"></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Invoice", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "Contacts")"><a href="@Url.Action("Contacts", "Invoice")">Contacts</a></li>
                        <li class="@Html.IsSelected(action: "Profile")"><a href="@Url.Action("Profile", "Invoice")">Profile</a></li>
                        <li class="@Html.IsSelected(action: "Profile2")"><a href="@Url.Action("Profile2", "Invoice")">Profile v.2</a></li>
                        <li class="@Html.IsSelected(action: "Contacts2")"><a href="@Url.Action("Contacts2", "Invoice")">Contacts v.2</a></li>
                        <li class="@Html.IsSelected(action: "Projects")"><a href="@Url.Action("Projects", "Invoice")">Projects</a></li>
                        <li class="@Html.IsSelected(action: "ProjectDetail")"><a href="@Url.Action("ProjectDetail", "Invoice")">Project detail</a></li>
                        <li class="@Html.IsSelected(action: "ActivityStream")"><a href="@Url.Action("ActivityStream", "Invoice")">Activity stream</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "Products")">
                    <a href="#"><i class="fa fa-cubes"></i> <span class="nav-label" data-i18n="nav.Product">Products</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Product", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "ProductsGrid")"><a href="/Products/Products_Grid">Products Grid</a></li>
                        <li class="@Html.IsSelected(action: "ProductsList")"><a href="/Products/Products_List">Products List</a></li>
                        <li class="@Html.IsSelected(action: "ProductEdit")"><a href="/Products/Products_Edit">Product Edit</a></li>
                        <li class="@Html.IsSelected(action: "ProductDetail")"><a href="/Products/Products_Detail">Product Detail</a></li>
                        <li class="@Html.IsSelected(action: "ProductDetail")"><a href="/Products/Products_Cart">Shopping Cart</a></li>
                        <li class="@Html.IsSelected(action: "ProductDetail")"><a href="/Products/Products_Order">Products Order</a></li>
                        <li class="@Html.IsSelected(action: "ProductDetail")"><a href="/Products/Products_Category">Products Category</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "Customer")">
                    <a href="#"><i class="fa fa-group"></i> <span class="nav-label" data-i18n="nav.miscellaneous">Customer</span><span class="label label-info pull-right">NEW</span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Customer", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "Contacts")"><a href="/Customer/Contacts">Contacts</a></li>
                        <li class="@Html.IsSelected(action: "Contacts_v2")"><a href="/Customer/Contacts_v2">Contacts_v2</a></li>
                         <li class="@Html.IsSelected(action: "Profile")"><a href="/Customer/Profile">Profile</a></li>
                        <li class="@Html.IsSelected(action: "Contact_List")"><a href="/Customer/Contacts_List">Contacts List</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "Finance")">
                    <a href="#"><i class="fa fa-money"></i> <span class="nav-label" data-i18n="nav.Finance">UI Elements</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Finance", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "Typography")"><a href="@Url.Action("Typography", "Finance")">Typography</a></li>
                        <li class="@Html.IsSelected(action: "Icons")"><a href="@Url.Action("Icons", "Finance")">Icons</a></li>
                        <li class="@Html.IsSelected(action: "DraggablePanels")"><a href="@Url.Action("DraggablePanels", "Finance")">Draggable Panels</a></li>
                        <li class="@Html.IsSelected(action: "ResizablePanels")"><a href="@Url.Action("ResizablePanels", "Finance")">Resizable Panels</a></li>
                        <li class="@Html.IsSelected(action: "Buttons")"><a href="@Url.Action("Buttons", "Finance")">Buttons</a></li>
                        <li class="@Html.IsSelected(action: "Video")"><a href="@Url.Action("Video", "Finance")">Video</a></li>
                        <li class="@Html.IsSelected(action: "ReportPanels")"><a href="@Url.Action("ReportPanels", "Finance")">Panels</a></li>
                        <li class="@Html.IsSelected(action: "Tabs")"><a href="@Url.Action("Tabs", "Finance")">Tabs</a></li>
                        <li class="@Html.IsSelected(action: "NotificationsTooltips")"><a href="@Url.Action("NotificationsTooltips", "Finance")">Notifications & Tooltips</a></li>
                        <li class="@Html.IsSelected(action: "HelperClasses")"><a href="@Url.Action("HelperClasses", "Finance")">Helper css classes</a></li>
                        <li class="@Html.IsSelected(action: "BadgesLabelsProgress")"><a href="@Url.Action("BadgesLabelsProgress", "Finance")">Badges, Labels, Progress</a></li>
                    </ul>
                </li>       
                <li class="@Html.IsSelected(controller: "Report")">
                    <a href="#"><i class="fa fa-line-chart"></i> <span class="nav-label" data-i18n="nav.Report">Report</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Report", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "StaticReport")"><a href="@Url.Action("StaticReport", "Report")">Static Report</a></li>
                        <li class="@Html.IsSelected(action: "DataReport")"><a href="@Url.Action("DataReport", "Report")">Data Report</a></li>
                        <li class="@Html.IsSelected(action: "FooReport")"><a href="@Url.Action("FooReport", "Report")">Foo Table</a></li>
                        <li class="@Html.IsSelected(action: "jqGrid")"><a href="@Url.Action("jqGrid", "Report")">jqGrid</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "System")">
                    <a href="#"><i class="fa fa-gears"></i> <span class="nav-label" data-i18n="nav.System">System</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "System", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "ProductsGrid")"><a href="@Url.Action("ProductsGrid", "System")">Products grid</a></li>
                        <li class="@Html.IsSelected(action: "ProductsList")"><a href="@Url.Action("ProductsList", "System")">Products list</a></li>
                        <li class="@Html.IsSelected(action: "ProductEdit")"><a href="@Url.Action("ProductEdit", "System")">Product edit</a></li>
                        <li class="@Html.IsSelected(action: "ProductDetail")"><a href="@Url.Action("ProductDetail", "System")">Product detail</a></li>
                        <li class="@Html.IsSelected(action: "Cart")"><a href="@Url.Action("Cart", "System")">Cart</a></li>
                        <li class="@Html.IsSelected(action: "Orders")"><a href="@Url.Action("Orders", "System")">Orders</a></li>
                        <li class="@Html.IsSelected(action: "Payments")"><a href="@Url.Action("Payments", "System")">Credit Card form</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>