            <!-- Footer -->
            <% include _Footer.ejs %>
            
                        </div>
                        <!-- End page wrapper-->
            
                        <!-- Right Sidebar -->
                        <% include _RightSidebar.ejs %>
                          
                    </div>
                    <script src="../lib/jquery/dist/jquery.js"></script>
                    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
                    <script src="../lib_bower/metisMenu/dist/metisMenu.min.js"></script>
                    <script src="../lib_bower/pace/pace.min.js"></script>
                    <script src="../lib_bower/slimScroll/jquery.slimscroll.min.js"></script>
                    <script src="../js/script.js" asp-append-version="true"></script>
                      <!-- Only for demo purpose -->
                    <script src="../js/skin.config.js"></script>
            
            </body>
            
            </html>