<% include ../layouts/Header.ejs %>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Contacts</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action(" Dashboard_1 ", "Dashboards ")">Home</a>
            </li>
            <li>
                Customer
            </li>
            <li class="active">
                <strong>Contacts</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-3">
        <div class="title-action">
            <a href="@Url.Action(" invoicePrint ", "Pages ")" target="_blank" class="btn btn-info">
                <i class="fa fa-file-o"></i> New</a>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
     <div class="ibox-content m-b-sm border-bottom">
       <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input type="text" id="Name" name="Name" value="" placeholder="Customer Name" class="form-control">
            </div>
        </div>
         <div class="col-lg-3">
            <div class="form-group">
                <label for="Address" class="control-label">Address</label>
                <input type="text" id="Address" name="Address" value="" placeholder="Customer Address" class="form-control">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Phone" class="control-label">Phone</label>
                <input type="text" id="Phone" name="Phone" value="" placeholder="Customer Phone" class="form-control">
            </div>
        </div>       
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Group" class="control-label">Group</label>
                <select name="Group" id="Group" class="form-control">
                    <option value="1" selected="">Enabled</option>
                    <option value="0">Disabled</option>
                </select>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="contact-box">
                <a href="@Url.Action(" Profile ", "AppViews ")">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="../Images/a2.jpg">
                            <div class="m-t-xs font-bold">Graphics designer</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3>
                            <strong>John Smith</strong>
                        </h3>
                        <p>
                            <i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                        <address>
                            <strong>Twitter, Inc.</strong>
                            <br> 795 Folsom Ave, Suite 600
                            <br> San Francisco, CA 94107
                            <br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                         <div class="m-t-xs btn-group">
                            <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                            <a class="btn btn-xs btn-success"><i class="fa fa-envelope"></i> Email</a>
                            <a class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> Delete</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="contact-box">
                <a href="@Url.Action(" Profile ", "AppViews ")">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="../Images/a1.jpg">
                            <div class="m-t-xs font-bold">CEO</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3>
                            <strong>Alex Johnatan</strong>
                        </h3>
                        <p>
                            <i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                        <address>
                            <strong>Twitter, Inc.</strong>
                            <br> 795 Folsom Ave, Suite 600
                            <br> San Francisco, CA 94107
                            <br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                        <div class="m-t-xs btn-group">
                            <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                            <a class="btn btn-xs btn-success"><i class="fa fa-envelope"></i> Email</a>
                            <a class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> Delete</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="contact-box">
                <a href="@Url.Action(" Profile ", "AppViews ")">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="../Images/a3.jpg">
                            <div class="m-t-xs font-bold">Marketing manager</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3>
                            <strong>Monica Smith</strong>
                        </h3>
                        <p>
                            <i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                        <address>
                            <strong>Twitter, Inc.</strong>
                            <br> 795 Folsom Ave, Suite 600
                            <br> San Francisco, CA 94107
                            <br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                         <div class="m-t-xs btn-group">
                            <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                            <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                            <a class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> Delete</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="contact-box">
                <a href="@Url.Action(" Profile ", "AppViews ")">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="../Images/a4.jpg">
                            <div class="m-t-xs font-bold">Sales manager</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3>
                            <strong>Michael Zimber</strong>
                        </h3>
                        <p>
                            <i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                        <address>
                            <strong>Twitter, Inc.</strong>
                            <br> 795 Folsom Ave, Suite 600
                            <br> San Francisco, CA 94107
                            <br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                         <div class="m-t-xs btn-group">
                            <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                            <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                            <a class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> Delete</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="contact-box">
                <a href="@Url.Action(" Profile ", "AppViews ")">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="../Images/a5.jpg">
                            <div class="m-t-xs font-bold">Graphics designer</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3>
                            <strong>Sandra Smith</strong>
                        </h3>
                        <p>
                            <i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                        <address>
                            <strong>Twitter, Inc.</strong>
                            <br> 795 Folsom Ave, Suite 600
                            <br> San Francisco, CA 94107
                            <br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                        <div class="m-t-xs btn-group">
                            <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                            <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                            <a class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> Delete</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    </div>
</div>
<% include ../layouts/Footer.ejs%>
<script>
    $(document).ready(function () {
        $('.contact-box').each(function () {
            animationHover(this, 'pulse');
        });
    });
</script> 
