<% include ../layouts/Header.ejs %>
    <link rel="stylesheet" href="../lib/dataTables/datatables.min.css" />
    <link href="../lib_bower/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="../lib_bower/datatables/dataTables.bootstrap.min.css" rel="stylesheet" />
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row" id="sortable-view">
            <div class="col-lg-8 col-sm-6 ui-sortable">

                <div class="ibox" style="opacity: 1;">
                    <div class="ibox-title ui-sortable-handle">
                        <h5>Product tables</h5>
                        <div class="ibox-tools">
                            <label class="label label-primary">You can drag and drop me to other box.</label>
                            <a class="collapse-link ui-sortable">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Product Number</th>
                                    <th>Color</th>
                                    <th>Price</th>
                                    <th>Stock</th>
                                    <th>Unit Measure</th>
                                    <th>Modified Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="gradeX">
                                    <td>Trident</td>
                                    <td>
                                        Internet Explorer 4.0
                                    </td>
                                    <td>12345</td>
                                    <td class="center">lorem</td>
                                    <td class="center">1,230 $</td>
                                    <td>20</td>
                                    <td>Thung</td>
                                    <td>12/12/2017 20:08:23</td>
                                </tr>
                                <tr class="gradeX">
                                    <td>Trident</td>
                                    <td>
                                        Internet Explorer 4.0
                                    </td>
                                    <td>12345</td>
                                    <td class="center">Red</td>
                                    <td class="center">1,230 $</td>
                                    <td>20</td>
                                    <td>Thung</td>
                                    <td>12/12/2017 20:08:23</td>
                                </tr>
                                <tr class="gradeX">
                                    <td>Trident</td>
                                    <td>
                                        Internet Explorer 4.0
                                    </td>
                                    <td>12345</td>
                                    <td class="center">Red</td>
                                    <td class="center">1,230 $</td>
                                    <td>20</td>
                                    <td>Case</td>
                                    <td>12/12/2017 20:08:23</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox" style="opacity: 1;">
                    <div class="ibox-title ui-sortable-handle">
                        <h5>List Items in Order</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link ui-sortable">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover dataTables-example" id="tableData">
                            <thead>
                                <tr>
                                    <th>Tên</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Thành tiền</th>
                                    <th>Modified Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="gradeX">
                                    <td>Computer</td>
                                    <td> 20</td>
                                    <td>1,200</td>
                                    <td class="center">60,000</td>
                                    <td>12/12/2017 20:08:23</td>
                                </tr>
                                <tr class="gradeX">
                                    <td>Computer</td>
                                    <td> 20</td>
                                    <td>1,200</td>
                                    <td class="center">60,000</td>
                                    <td>12/12/2017 20:08:23</td>
                                </tr>
                                <tr class="gradeX">
                                    <td>Computer</td>
                                    <td> 20</td>
                                    <td>1,200</td>
                                    <td class="center">60,000</td>
                                    <td>12/12/2017 20:08:23</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-sm-6 ui-sortable">
                <div class="ibox" style="opacity: 1;">
                    <div class="ibox-title ui-sortable-handle">
                        <h5>Bán hàng</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link ui-sortable">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="">
                        <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab-1">
                                        <i class="fa fa-desktop" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#tab-2">Mở rộng</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Tên KH: </label>
                                                <div class="input-group col-lg-8 ">
                                                    <input type="text" class="form-control" placeholder="Tìm khách hàng (F7)">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-primary">
                                                            <i class="fa fa-search" aria-hidden="true"></i>
                                                        </button>                                                       
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Địa chỉ: </label>
                    
                                                <div class="col-lg-8">
                                                    <input type="text" placeholder="Địa chỉ của khách hàng" disabled="disabled" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">ĐThoai: </label>
                    
                                                <div class="col-lg-8">
                                                    <input type="text" placeholder="Mã khách hàng" disabled="disabled" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">SLượng: </label>
                                            
                                                <div class="col-lg-8">
                                                    <input type="text" placeholder="Nhập vào số lượng" class="form-control"  name="Qty" id="Qty" disabled="disabled">
                                                </div>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <h4 class="text-center text-info">Thanh Toán</h4>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Tổng tiền: </label>                                            
                                                <div class="col-lg-8">
                                                    <h4 class="control-label text-right text-info"  name="TotalLine" id="TotalLine"> 0 </h4>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">VAT: </label>
                                            
                                                <div class="col-lg-8">
                                                   <input type="text" class="form-control" name="VAT" placeholder="0">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">CKhấu: </label>
                                            
                                                <div class="input-group col-lg-8 ">
                                                    <input type="text" class="form-control" placeholder="0">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-outline btn-primary">
                                                            <i class="fa fa-dollar" aria-hidden="true"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-outline btn-primary">%</button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                    <label class="col-lg-4 control-label">KH phải trả: </label>
                                                
                                                    <div class="col-lg-8">
                                                        <h4 class="control-label text-info text-right">0</h4>
                                                    </div>
                                                </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Khách đưa: </label>
                                            
                                                <div class="col-lg-8">
                                                    <input type="text" placeholder="Nhập vào số tiền" class="form-control form-lg">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Tiền thừa: </label>
                                            
                                                <div class="col-lg-8">
                                                    <h4 class=" text-warning text-right control-label">0</h4>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="button" class="btn btn-block btn-success btn-lg">Thanh toán (F4) </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    <div class="panel-body">
                                        <form action="" method="POST" class="form-horizontal" role="form">
                    
                                           
                                           <div class="form-group">
                                               <label for="dropTax" class="col-sm-2 control-label">Thuế:</label>
                                               <div class="col-sm-10">
                                                   <select name="dropTAX" id="dropTax" class="form-control" required="required">
                                                       <option value="0">Giá đã bao gồm thuế</option>
                                                       <option value="1">Giá đã chưa tính thuế</option>
                                                   </select>
                                               </div>
                                           </div>
                                           
                    
                                            <div class="form-group">
                                                <label for="ListPrice" class="col-sm-2 control-label">Bảng giá:</label>
                                                <div class="col-sm-10">
                                                    <select name="ListPrice" id="ListPrice" class="form-control" required="required">
                                                        <option value="">Bán lẻ</option>
                                                        <option value="">Buôn</option>
                                                    </select>
                                                </div>
                                            </div>                  
                                            
                                            <div class="form-group">
                                                <label for="Ghi chú" class="col-sm-2 control-label">Ghi chú:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="Note" id="Note" class="form-control" value="">
                                                </div>
                                            </div>
                                            
                                        
                                        </form>
                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <% include ../layouts/Footer.ejs %>
    <script src="../lib_bower/jquery-ui/jquery-ui.js"></script>
    <script src="../lib/touchpunch/jquery.ui.touch-punch.min.js"></script>
    <script src="../lib/dataTables/datatables.min.js"></script>
    <!-- extend datatables -->
    <script src="../lib_bower/datatables/jszip.min.js"></script>
    <script src="../lib_bower/datatables/pdfmake.min.js"></script>
    <script src="../lib_bower/datatables/vfs_fonts.js"></script>
    <script src="../lib_bower/datatables/buttons.html5.min.js"></script>
    <script src="../lib_bower/datatables/buttons.print.min.js"></script>
    <script src="../lib_bower/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="../lib_bower/datatables/dataTables.keyTable.min.js"></script>
    <script src="../lib_bower/datatables/dataTables.responsive.min.js"></script>
    <script src="../lib_bower/datatables/responsive.bootstrap.min.js"></script>
    <script src="../lib_bower/datatables/dataTables.scroller.min.js"></script>
    <script src="../lib_bower/datatables/buttons.colVis.min.js"></script>

    <script type="text/javascript">
            $(document).ready(function () {

                WinMove();
                showDataTables();
                rowClickEvent();
                $('#topbar').hide();
            });

            function showDataTables() {
                    $('.dataTables-example').DataTable({
                        pageLength: 10,
                        dom: '<"html5buttons"B>lTfgitp',
                        buttons: [
                            { extend: 'copy' },
                            { extend: 'csv' },
                            { extend: 'excel', title: 'ExampleFile' },
                            { extend: 'pdf', title: 'ExampleFile' },

                            {
                                extend: 'print',
                                customize: function (win) {
                                    $(win.document.body).addClass('white-bg');
                                    $(win.document.body).css('font-size', '10px');

                                    $(win.document.body).find('table')
                                        .addClass('compact')
                                        .css('font-size', 'inherit');
                                }
                            },
                            {
                                extend: "colvis",
                                className: "btn-sm",
                                text: "Ẩn/hiện"
                            }
                        ],
                        "columnDefs": [
                            // {
                            //     "targets": [2],
                            //     "visible": false,                               
                            // },
                            // {
                            //     "targets": [3],
                            //     "visible": false
                            // }
                        ],
                        select: true,           
                        responsive: !0,
                        keys: true

                    });                 
              
            }
            function rowClickEvent() {
              var table = $('.dataTables-example').DataTable();
                
               $('.dataTables-example tbody').on('click', 'tr', function () {
                   var data = table.row( this ).data();
                   alert( 'You clicked on '+data[0]+'\'s row' );
                   $('#Qty').prop('disabled', false);
               } );
            }


        </script>