<% include ../layouts/Header.ejs %>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Giỏ hàng</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>E-commerce</a>
            </li>
            <li class="active">
                <strong>Giỏ hàng</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-8">

            <div class="ibox">
                <div class="ibox-title">
                    <span class="pull-right">(<strong>5</strong>) items</span>
                    <h5>Items in your cart</h5>
                </div>
                <div class="ibox-content">


                    <div class="table-responsive">
                        <table class="table shoping-cart-table" >

                            <tbody>
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation">
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                            <a href="#" class="text-navy">
                                                Desktop publishing software
                                            </a>
                                        </h3>
                                        <p class="small">
                                            It is a long established fact that a reader will be distracted by the readable
                                            content of a page when looking at its layout. The point of using Lorem Ipsum is
                                        </p>
                                        <dl class="small m-b-none">
                                            <dt>Description lists</dt>
                                            <dd>A description list is perfect for defining terms.</dd>
                                        </dl>

                                        <div class="m-t-sm">
                                            <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                                            |
                                            <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                                        </div>
                                    </td>

                                    <td>
                                        $180,00
                                        <s class="small text-muted">$230,00</s>
                                    </td>
                                    <td width="65">
                                        <input type="text" class="form-control" placeholder="1">
                                    </td>
                                    <td>
                                        <h4>
                                            $180,00
                                        </h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation">
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                            <a href="#" class="text-navy">
                                                Text editor
                                            </a>
                                        </h3>
                                        <p class="small">
                                            There are many variations of passages of Lorem Ipsum available
                                        </p>
                                        <dl class="small m-b-none">
                                            <dt>Description lists</dt>
                                            <dd>List is perfect for defining terms.</dd>
                                        </dl>

                                        <div class="m-t-sm">
                                            <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                                            |
                                            <a href="#" class="text-danger"><i class="fa fa-trash"></i> Remove item</a>
                                        </div>
                                    </td>

                                    <td>
                                        $50,00
                                        <s class="small text-muted">$63,00</s>
                                    </td>
                                    <td width="65">
                                        <input type="text" class="form-control" placeholder="2">
                                    </td>
                                    <td>
                                        <h4>
                                            $100,00
                                        </h4>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">
                           
                            <tbody>
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation">
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                            <a href="#" class="text-navy">
                                                CRM software
                                            </a>
                                        </h3>
                                        <p class="small">
                                            Distracted by the readable
                                            content of a page when looking at its layout. The point of using Lorem Ipsum is
                                        </p>
                                        <dl class="small m-b-none">
                                            <dt>Description lists</dt>
                                            <dd>A description list is perfect for defining terms.</dd>
                                        </dl>

                                        <div class="m-t-sm">
                                            <a href="#" class="text-danger"><i class="fa fa-trash"></i> Remove item</a>
                                        </div>
                                    </td>

                                    <td>
                                        $110,00
                                    </td>
                                    <td width="65">
                                        <input type="number" class="form-control" placeholder="1">
                                    </td>
                                    <td>
                                        <h4>
                                            $110,00
                                        </h4>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation">
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                            <a href="#" class="text-navy">
                                                PM software
                                            </a>
                                        </h3>
                                        <p class="small">
                                            Readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                                        </p>
                                        <dl class="small m-b-none">
                                            <dt>Description lists</dt>
                                            <dd>A description list is perfect for defining terms.</dd>
                                        </dl>

                                        <div class="m-t-sm">
                                            <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                                            |
                                            <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                                        </div>
                                    </td>

                                    <td>
                                        $130,00
                                    </td>
                                    <td width="65">
                                        <input type="text" class="form-control" placeholder="1">
                                    </td>
                                    <td>
                                        <h4>
                                            $130,00
                                        </h4>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation">
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                            <a href="#" class="text-navy">
                                                Photo editor
                                            </a>
                                        </h3>
                                        <p class="small">
                                            Page when looking at its layout. The point of using Lorem Ipsum is
                                        </p>
                                        <dl class="small m-b-none">
                                            <dt>Description lists</dt>
                                            <dd>A description list is perfect for defining terms.</dd>
                                        </dl>

                                        <div class="m-t-sm">
                                            <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                                            |
                                            <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                                        </div>
                                    </td>

                                    <td>
                                        $700,00
                                    </td>
                                    <td width="65">
                                        <input type="text" class="form-control" placeholder="1">
                                    </td>
                                    <td>
                                        <h4>
                                            $70,00
                                        </h4>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="ibox-content">

                    <button class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i> Checkout</button>
                    <button class="btn btn-white"><i class="fa fa-arrow-left"></i> Continue shopping</button>

                </div>
            </div>

        </div>
        <div class="col-md-4">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Thông tin giỏ hàng</h5>
                </div>
                <div class="ibox-content" style="">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#tab-1">
                                    <i class="fa fa-desktop" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#tab-2">Mở rộng</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Tên KH: </label>
                                            <div class="input-group col-lg-8 ">
                                                <input type="text" class="form-control" placeholder="Tìm khách hàng (F7)">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary">
                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                    </button>                                                       
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Địa chỉ: </label>
                
                                            <div class="col-lg-8">
                                                <input type="text" placeholder="Địa chỉ của khách hàng" disabled="disabled" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">ĐThoai: </label>
                
                                            <div class="col-lg-8">
                                                <input type="text" placeholder="Mã khách hàng" disabled="disabled" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">SLượng: </label>
                                        
                                            <div class="col-lg-8">
                                                <input type="text" placeholder="Nhập vào số lượng" class="form-control"  name="Qty" id="Qty" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <h2 class="text-center text-info">Thanh Toán</h2>
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Tổng tiền: </label>                                            
                                            <div class="col-lg-8">
                                                <h3 class="control-label text-right text-info"  name="TotalLine" id="TotalLine"> 0 </h4>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">VAT: </label>
                                        
                                            <div class="col-lg-8">
                                               <input type="text" class="form-control" name="VAT" placeholder="0">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">CKhấu: </label>
                                        
                                            <div class="input-group col-lg-8 ">
                                                <input type="text" class="form-control" placeholder="0">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-outline btn-primary">
                                                        <i class="fa fa-dollar" aria-hidden="true"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-outline btn-primary">%</button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                                <label class="col-lg-4 control-label">KH phải trả: </label>
                                            
                                                <div class="col-lg-8">
                                                    <h3 class="control-label text-info text-right font-bold">0</h3>
                                                </div>
                                            </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Khách đưa: </label>
                                        
                                            <div class="col-lg-8">
                                                <input type="text" placeholder="Nhập vào số tiền" class="form-control form-lg">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Tiền thừa: </label>
                                        
                                            <div class="col-lg-8">
                                                <h3 class=" text-warning text-right control-label font-bold">0</h3>
                                            </div>
                                        </div>
                                        <div class="m-t-sm">
                                            <div class="btn-group">
                                                <a href="#" class="btn  btn-primary btn-lg"><i class="fa fa-shopping-cart"></i> Thanh toán (F4)</a>
                                                <a href="#" class="btn btn-white btn-lg"> Hủy (F8)</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <form action="" method="POST" class="form-horizontal" role="form">
                
                                       
                                       <div class="form-group">
                                           <label for="dropTax" class="col-sm-2 control-label">Thuế:</label>
                                           <div class="col-sm-10">
                                               <select name="dropTAX" id="dropTax" class="form-control" required="required">
                                                   <option value="0">Giá đã bao gồm thuế</option>
                                                   <option value="1">Giá đã chưa tính thuế</option>
                                               </select>
                                           </div>
                                       </div>
                                       
                
                                        <div class="form-group">
                                            <label for="ListPrice" class="col-sm-2 control-label">Bảng giá:</label>
                                            <div class="col-sm-10">
                                                <select name="ListPrice" id="ListPrice" class="form-control" required="required">
                                                    <option value="">Bán lẻ</option>
                                                    <option value="">Buôn</option>
                                                </select>
                                            </div>
                                        </div>                  
                                        
                                        <div class="form-group">
                                            <label for="Ghi chú" class="col-sm-2 control-label">Ghi chú:</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="Note" id="Note" class="form-control" value="">
                                            </div>
                                        </div>
                                        
                                    
                                    </form>
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        

        </div>
    </div>

</div>
<% include ../layouts/Footer.ejs %>
