<% include ../layouts/Header.ejs %>
<link rel="stylesheet" href="../lib/summernote/summernote.css" />
<link rel="stylesheet" href="../lib/summernote/summernote-bs3.css" />
<link rel="stylesheet" href="../lib/dropzone/basic.css" />
<link rel="stylesheet" href="../lib/dropzone/dropzone.css" />
<link rel="stylesheet" href="../lib_bower/codemirror/lib/codemirror.css" />
<link rel="stylesheet" href="../lib_bower/codemirror/theme/ambiance.css" />
<link rel="stylesheet" href="../lib_bower/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" />

<link rel="stylesheet" href="../lib/daterangepicker/daterangepicker-bs3.css" />
<link rel="stylesheet" href="../lib_bower/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
<link rel="stylesheet" href="../lib_bower/select2/dist/css/select2.css" />

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Products Edit</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action(" Dashboard_1 ", "Dashboards ")">Home</a>
            </li>
            <li>
                <a>Products</a>
            </li>
            <li class="active">
                <strong>Products Edit</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1"> Sản phẩm</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2"> Dữ liệu</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3"> Giảm giá</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-4"> Ảnh</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <fieldset class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Tên sản phẩm:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Product name"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Giá bán:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="$160.00"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Mô tả:</label>
                                    <div class="col-sm-10">
                                        <div class="summernote">
                                            <h3>Lorem Ipsum is simply</h3>
                                            dummy text of the printing and typesetting industry. <strong>Lorem Ipsum has been the industry's</strong> standard dummy text ever since the 1500s,
                                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                                            <br />

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Thẻ:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="..."></div>
                                </div>                              
                            </fieldset>

                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">

                            <fieldset class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Product Number:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder=""></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Product Category:</label>
                                    <div class="col-sm-10">
                                        <select name="ProductsCategoryID" id="ProductsCategoryID" class="form-control">
                                            <option value="A">A</option>
                                            <option value="A">A</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Quantity Inventory:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Quantity"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Minimum quantity:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="2"></div>
                                </div>  
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Size:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="2" name="Size"></div>
                                </div>  
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">SizeUnitMeasureCode:</label>
                                    <div class="col-sm-10">
                                        <select name="SizeUnitMeasureCode" id="SizeUnitMeasureCode" class="form-control">
                                            <option value="A">1 Tháng</option>                                          
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Weight:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="2" name="Weight"></div>
                                </div>  
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">WeightUnitMeasureCode:</label>
                                    <div class="col-sm-10">
                                        <select name="WeightUnitMeasureCode" id="WeightUnitMeasureCode" class="form-control">
                                            <option value="A">1 Tháng</option>                                          
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Waranty:</label>
                                    <div class="col-sm-10">
                                        <select name="Waranty" id="Waranty" class="form-control">
                                            <option value="A">1 Tháng</option>
                                            <option value="A">2 Tháng</option>
                                            <option value="A">6 Tháng</option>
                                            <option value="A">12 Tháng</option>
                                            <option value="A">24 Tháng</option>
                                            <option value="A">36 Tháng</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>


                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <div class="table-responsive">
                               
                                <table class="table table-stripped table-bordered" id="tblDiscount">
                                    <thead>
                                        <tr>
                                            <th>
                                               Nhóm
                                            </th>
                                            <th>
                                                Số lượng
                                            </th>
                                            <th>
                                                Giảm giá
                                            </th>
                                            <th style="width: 20%">
                                                Ngày bắt đầu
                                            </th>
                                            <th style="width: 20%">
                                                Ngày kết thúc
                                            </th>
                                            <th>
                                                Thao tác
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                        <tr>                                           
                                            <td colspan="5"></td>
                                            <td>
                                                
                                                <button type="button" class="btn btn-primary" id="btnAddDiscount"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div id="tab-4" class="tab-pane">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-stripped" id="tblImages">
                                    <thead>
                                        <tr>
                                            <th>
                                                Image preview
                                            </th>
                                            <th>
                                                Image url
                                            </th>
                                            <th>
                                                Sort order
                                            </th>
                                            <th>
                                                Actions
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3"></td>
                                            <td class="text-center">
                                            <button type="button" class="btn btn-primary" id="btnMoreImg"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<% include ../layouts/Footer.ejs %>

<script src="../lib/summernote/summernote.min.js"></script>
<script src="../lib/dropzone/dropzone.js"></script>
<script src="../lib_bower/jasny-bootstrap/dist/js/jasny-bootstrap.js"></script>
<script src="../lib_bower/codemirror/lib/codemirror.js"></script>
<script src="../lib_bower/codemirror/mode/javascript/javascript.js"></script>

<script src="../lib_bower/moment/min/moment.min.js"></script>
<script src="../lib/daterangepicker/daterangepicker.js"></script>
<script src="../lib_bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="../lib_bower/select2/dist/js/select2.min.js"></script>
<div id="modal-image" class="modal in">
    <div id="filemanager" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Image Manager</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-5">
                        <a href="https://localhost:443/opencart/admin/index.php?route=common/filemanager&amp;user_token=AQ2EY3cvebwtyhXmwY6pvzNISR3bNXUi&amp;target=input-image1&amp;thumb=thumb-image1"
                            data-toggle="tooltip" title="" id="button-parent" class="btn btn-default" data-original-title="Parent">
                            <i class="fa fa-level-up"></i>
                        </a>
                        <a href="https://localhost:443/opencart/admin/index.php?route=common/filemanager&amp;user_token=AQ2EY3cvebwtyhXmwY6pvzNISR3bNXUi&amp;target=input-image1&amp;thumb=thumb-image1"
                            data-toggle="tooltip" title="" id="button-refresh" class="btn btn-default" data-original-title="Refresh">
                            <i class="fa fa-refresh"></i>
                        </a>
                        <button type="button" data-toggle="tooltip" title="" id="button-upload" class="btn btn-primary" data-original-title="Upload">
                            <i class="fa fa-upload"></i>
                        </button>
                        <button type="button" data-toggle="tooltip" title="" id="button-folder" class="btn btn-default" data-original-title="New Folder">
                            <i class="fa fa-folder"></i>
                        </button>
                        <button type="button" data-toggle="tooltip" title="" id="button-delete" class="btn btn-danger" data-original-title="Delete">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input type="text" name="search" value="" placeholder="Search.." class="form-control">
                            <span class="input-group-btn">
                                <button type="button" data-toggle="tooltip" title="" id="button-search" class="btn btn-primary" data-original-title="Search">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3 col-xs-6 text-center">
                        <div class="text-center">
                            <a href="https://localhost:443/opencart/admin/index.php?route=common/filemanager&amp;user_token=AQ2EY3cvebwtyhXmwY6pvzNISR3bNXUi&amp;directory=demo&amp;target=input-image1&amp;thumb=thumb-image1"
                                class="directory" style="vertical-align: middle;">
                                <i class="fa fa-folder fa-5x"></i>
                            </a>
                        </div>
                        <label>
                            <input type="checkbox" name="path[]" value="catalog/demo"> demo
                        </label>
                    </div>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <a href="https://localhost:443/opencart/image/catalog/may bo chuyen game.jpg" class="thumbnail">
                            <img src="https://localhost:443/opencart/image/cache/catalog/may bo chuyen game-100x100.jpg" alt="may bo chuyen  game.jpg"
                                title="may bo chuyen  game.jpg">
                        </a>
                        <label>
                            <input type="checkbox" name="path[]" value="catalog/may bo chuyen game.jpg"> may bo chuyen game.jpg</label>
                    </div>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <a href="https://localhost:443/opencart/image/catalog/cart.png" class="thumbnail">
                            <img src="https://localhost:443/opencart/image/cache/catalog/cart-100x100.png" alt="cart.png" title="cart.png">
                        </a>
                        <label>
                            <input type="checkbox" name="path[]" value="catalog/cart.png"> cart.png
                        </label>
                    </div>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <a href="https://localhost:443/opencart/image/catalog/opencart-logo.png" class="thumbnail">
                            <img src="https://localhost:443/opencart/image/cache/catalog/opencart-logo-100x100.png" alt="opencart-logo. png"
                                title="opencart-logo. png">
                        </a>
                        <label>
                            <input type="checkbox" name="path[]" value="catalog/opencart-logo.png"> opencart-logo. png</label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3 col-xs-6 text-center">
                        <a href="https://localhost:443/opencart/image/catalog/profile-pic.png" class="thumbnail">
                            <img src="https://localhost:443/opencart/image/cache/catalog/profile-pic-100x100.png" alt="profile-pic.pn g"
                                title="profile-pic.pn g">
                        </a>
                        <label>
                            <input type="checkbox" name="path[]" value="catalog/profile-pic.png"> profile-pic.pn g</label>
                    </div>
                </div>
                <br>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
  <script type="text/javascript">
  <!--
  $('a.thumbnail').on('click', function(e) {
      e.preventDefault();
  
          $('#thumb-image1').find('img').attr('src', $(this).find('img').attr('src'));
      
      $('#input-image1').val($(this).parent().find('input').val());
  
      $('#modal-image').modal('hide');
  });
  
  $('a.directory').on('click', function(e) {
      e.preventDefault();
  
      $('#modal-image').load($(this).attr('href'));
  });
  
  $('.pagination a').on('click', function(e) {
      e.preventDefault();
  
      $('#modal-image').load($(this).attr('href'));
  });
  
  $('#button-parent').on('click', function(e) {
      e.preventDefault();
  
      $('#modal-image').load($(this).attr('href'));
  });
  
  $('#button-refresh').on('click', function(e) {
      e.preventDefault();
  
      $('#modal-image').load($(this).attr('href'));
  });
  
  $('input[name=\'search\']').on('keydown', function(e) {
      if (e.which == 13) {
          $('#button-search').trigger('click');
      }
  });
  
  $('#button-search').on('click', function(e) {
      var url = 'index.php?route=common/filemanager&user_token=AQ2EY3cvebwtyhXmwY6pvzNISR3bNXUi&directory=';
  
      var filter_name = $('input[name=\'search\']').val();
  
      if (filter_name) {
          url += '&filter_name=' + encodeURIComponent(filter_name);
      }
  
          url += '&thumb=' + 'thumb-image1';
      
          url += '&target=' + 'input-image1';
      
      $('#modal-image').load(url);
  });
  //--></script>
  <script type="text/javascript"><!--
  $('#button-upload').on('click', function() {
      $('#form-upload').remove();
  
      $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file[]" value="" multiple="multiple" /></form>');
  
      $('#form-upload input[name=\'file[]\']').trigger('click');
  
      if (typeof timer != 'undefined') {
          clearInterval(timer);
      }
  
      timer = setInterval(function() {
          if ($('#form-upload input[name=\'file[]\']').val() != '') {
              clearInterval(timer);
  
              $.ajax({
                  url: 'Products_Image',
                  type: 'post',
                  dataType: 'json',
                  data: new FormData($('#form-upload')[0]),
                  cache: false,
                  contentType: false,
                  processData: false,
                  beforeSend: function() {
                      $('#button-upload i').replaceWith('<i class="fa fa-circle-o-notch fa-spin"></i>');
                      $('#button-upload').prop('disabled', true);
                  },
                  complete: function() {
                      $('#button-upload i').replaceWith('<i class="fa fa-upload"></i>');
                      $('#button-upload').prop('disabled', false);
                  },
                  success: function(json) {
                      console.log(JSON.stringify(json));
                      if (json['error']) {
                          alert(json['error']);
                      }
  
                      if (json['success']) {
                          alert(json['success']);
  
                          $('#button-refresh').trigger('click');
                      }
                  },
                  error: function(xhr, ajaxOptions, thrownError) {
                      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                  }
              });
          }
      }, 500);
  });
  
  $('#button-folder').popover({
      html: true,
      placement: 'bottom',
      trigger: 'click',
      title: 'Folder Name',
      content: function() {
          html  = '<div class="input-group">';
          html += '  <input type="text" name="folder" value="" placeholder="Folder Name" class="form-control">';
          html += '  <span class="input-group-btn"><button type="button" title="New Folder" id="button-create" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></span>';
          html += '</div>';
  
          return html;
      }
  });
  
  $('#button-folder').on('shown.bs.popover', function() {
      $('#button-create').on('click', function() {
          $.ajax({
              url: 'index.php?route=common/filemanager/folder&user_token=AQ2EY3cvebwtyhXmwY6pvzNISR3bNXUi&directory=',
              type: 'post',
              dataType: 'json',
              data: 'folder=' + encodeURIComponent($('input[name=\'folder\']').val()),
              beforeSend: function() {
                  $('#button-create').prop('disabled', true);
              },
              complete: function() {
                  $('#button-create').prop('disabled', false);
              },
              success: function(json) {
                  if (json['error']) {
                      alert(json['error']);
                  }
  
                  if (json['success']) {
                      alert(json['success']);
  
                      $('#button-refresh').trigger('click');
                  }
              },
              error: function(xhr, ajaxOptions, thrownError) {
                  alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
              }
          });
      });
  });
  
  $('#modal-image #button-delete').on('click', function(e) {
      if (confirm('Are you sure?')) {
          $.ajax({
              url: 'index.php?route=common/filemanager/delete&user_token=AQ2EY3cvebwtyhXmwY6pvzNISR3bNXUi',
              type: 'post',
              dataType: 'json',
              data: $('input[name^=\'path\']:checked'),
              beforeSend: function() {
                  $('#button-delete').prop('disabled', true);
              },
              complete: function() {
                  $('#button-delete').prop('disabled', false);
              },
              success: function(json) {
                  if (json['error']) {
                      alert(json['error']);
                  }
  
                  if (json['success']) {
                      alert(json['success']);
  
                      $('#button-refresh').trigger('click');
                  }
              },
              error: function(xhr, ajaxOptions, thrownError) {
                  alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
              }
          });
      }
  });
  //--></script>
  </div>
<script type="text/javascript">
    $(document).ready(function () {

        $('.summernote').summernote();
        addMoreImages();
        addMoreDiscount();
        showCalendar();
    });
    function showCalendar() {
        $('.input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
            format: 'dd/mm/yyyy'
        });
    }

    function addMoreImages()
    {
        var t= $('#tblImages');
        let img_count = 1;
        $('#btnMoreImg').on('click', function(){
           var displayRow= ` <tr id='selected_row`+ img_count +`'>
                                <td>
                                    <a href="#" data-toggle='modal' data-target='#modal-image'> <img src="../Images/gallery/3s.jpg"></a>
                                </td>
                                <td>
                                    <input type="text" class="form-control" disabled value="http://mydomain.com/images/image3.png">
                                </td>
                                <td>
                                    <input type="text" class="form-control" value="0">
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-danger" id="btnRemove" onclick="removeRow(`+ img_count +`)" ><i class="fa fa-trash"></i> </button>
                                </td>
                            </tr>`;
            t.find('tbody')
            .append($(displayRow))
            img_count++;
        })
       
    }
    function removeRow(id)
    {
        $('#selected_row'+id).remove();
    }
    function addMoreDiscount()
    {
        var t= $('#tblDiscount');
        $('#btnAddDiscount').on('click', function(){
            
        let count = 1;
        var displayRow=
            `<tr id='selected_row`+ count +`'>
                <td>
                    <select class="form-control">
                        <option selected>Group 1</option>
                        <option>Group 2</option>
                        <option>Group 3</option>
                        <option>Group 4</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="0.00 vnd">
                </td>
                <td>
                    <div class="input-group date">
                        <span class="input-group-addon" >
                            <i class="fa fa-calendar"></i>
                        </span>
                        <input type="text" class="form-control" value="07/01/2014">
                    </div>
                </td>
                <td>
                    <div class="input-group date">
                        <span class="input-group-addon"'>
                            <i class="fa fa-calendar"></i>
                        </span>
                        <input type="text" class="form-control" value="07/01/2014">
                    </div>
                </td>
                <td>
                    <button class="btn btn-danger" onclick=removeRow(`+ count +`)>
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>`;

        
        
        t.find('tbody')
        .append(displayRow);
        count++;
        showCalendar();
        });
    }

  
</script>