<% include ../layouts/Header.ejs %>
<link rel="stylesheet" href="../lib/dataTables/datatables.min.css" />
<link href="../lib_bower/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="../lib_bower/datatables/dataTables.bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="../lib/iCheck/custom.css" />
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>DS Nhà Cung Cấp</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li>
                <a>Nhập hàng</a>
            </li>
            <li class="active">
                <strong>Danh sách Nhà Cung Cấp</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <div class="title-action">
            <a href="#" role="button" data-toggle="modal" data-target="#myModal2" target="_blank" class="btn btn-info">
                <i class="fa fa-file-o"></i> New</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên NCC</th>
                                <th>Địa chỉ</th>
                                <th>Tỉnh/TP</th>
                                <th>Quận/Huyện</th>
                                <th>Xã/Phường</th>
                                <th>Điện thoại</th>
                                <th>Xếp hạng</th>
                                <th>Tình trạng</th>
                                <th>Url</th>
                                <th>Modified Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>11</td>
                                <td>Nguyễn</td>
                                <td>Thu Dau Mot Binh Duong</td>
                                <td>Binh Duong</td>
                                <td>Thu Dau Mot</td>
                                <td>Hiep Thanh</td>
                                <td>0123456</td>
                                <td>1</td>
                                <td>ok</td>
                                <td>www.demo.com.vn</td>
                                <td>12/01/2017</td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn-primary btn btn-xs">Edit</button>
                                        <button class="btn-danger btn btn-xs">Delete</button>
                                    </div>
                                
                                </td>
                            </tr>
                        </tbody>                           
                            
                    </table>

                </div>
            </div>
        </div>
    </div>


</div>

<!-- Modal Input form -->
<div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Thêm Nhóm</h4>
                <small class="font-bold">Tạo, chỉnh sửa thông tin Nhóm sản phẩm</small>
            </div>
            <div class="modal-body">
                <form action="" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label for="Name" class="col-sm-3 control-label">Tên NCC:</label>
                        <div class="col-sm-9">
                            <input type="text" name="" id="Name" class="form-control" value="" required="required" pattern="" title="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="col-sm-3 control-label">Điện Thoại:</label>
                        <div class="col-sm-9">
                            <input type="text" name="" id="Phone" class="form-control" value="" required="required" pattern="" title="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ProvinceID" class="col-sm-3 control-label">Tỉnh/TP:</label>
                        <div class="col-sm-9">
                            <select name="ProvinceID" id="ProvinceID" class="form-control" required="required">
                                <option value="">BD</option>
                            </select>
                        </div>                      
                    </div>
                    <div class="form-group">
                        <label for="DistrictID" class="col-sm-3 control-label">Huyện/TP:</label>
                        <div class="col-sm-9">
                            <select name="DistrictID" id="DistrictID" class="form-control" required="required">
                                <option value="">BD</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DistrictID" class="col-sm-3 control-label">Xã:</label>
                        <div class="col-sm-9">
                            <select name="DistrictID" id="DistrictID" class="form-control" required="required">
                                <option value="">Tân Thành</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="col-sm-3 control-label">Địa chỉ:</label>
                        <div class="col-sm-9">
                            <input type="text" name="" id="AddressLine" class="form-control" value="" required="required" pattern="" title="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="col-sm-3 control-label">Xếp hạng:</label>
                        <div class="col-sm-3">
                            <select name="DistrictID" id="DistrictID" class="form-control" required="required">
                                <option value="5">5</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1</option>
                            </select>
                        </div>
                        <label for="Name" class="col-sm-3 control-label">Xếp hạng:</label>
                        <div class="col-sm-3">
                            <div class="checkbox i-checks">
                                <label>
                                    <input type="checkbox" value="" checked="checked">
                                    <i></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
    
<% include ../layouts/Footer.ejs %>
<script src="../lib/dataTables/datatables.min.js"></script>
<!-- extend datatables -->
<script src="../lib_bower/datatables/jszip.min.js"></script>
<script src="../lib_bower/datatables/pdfmake.min.js"></script>
<script src="../lib_bower/datatables/vfs_fonts.js"></script>
<script src="../lib_bower/datatables/buttons.html5.min.js"></script>
<script src="../lib_bower/datatables/buttons.print.min.js"></script>
<script src="../lib_bower/datatables/dataTables.fixedHeader.min.js"></script>
<script src="../lib_bower/datatables/dataTables.keyTable.min.js"></script>
<script src="../lib_bower/datatables/dataTables.responsive.min.js"></script>
<script src="../lib_bower/datatables/responsive.bootstrap.min.js"></script>
<script src="../lib_bower/datatables/dataTables.scroller.min.js"></script>
<script src="../lib_bower/datatables/buttons.colVis.min.js"></script>

<!-- ICheck Green -->
<script src="../lib/iCheck/icheck.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        showDataTables();
        rowClickEvent();
        showICheckGreen();

    });

    function showDataTables() {
        $('.dataTables-example').DataTable({
            pageLength: 10,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy' },
                { extend: 'csv' },
                { extend: 'excel', title: 'ExampleFile' },
                { extend: 'pdf', title: 'ExampleFile' },

                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                },
                {
                    extend: "colvis",
                    className: "btn-sm",
                    text: "Ẩn/hiện"
                }
            ],
            "columnDefs": [
                // {
                //     "targets": [2],
                //     "visible": false,                               
                // },
                // {
                //     "targets": [3],
                //     "visible": false
                // }
            ],
            select: true,
            responsive: 0,
            keys: true

        });

    }
    function rowClickEvent() {
        var table = $('.dataTables-example').DataTable();

        $('.dataTables-example tbody').hover(function(){
            $(this).css('cursor','pointer');
        })
        $('.dataTables-example tbody').on('click', 'tr', function () {
            var data = table.row(this).data();
            alert('You clicked on ' + data[0] + '\'s row');
        });
    }
    function showICheckGreen() {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        }

</script>